body {
    font-family: 'Pacifico', cursive;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px; /* Space around the container */
    width: 90%; /* Fit smaller screens */
    max-width: 360px; /* Maximum width to ensure visibility */
}

h1 {
    margin-bottom: 15px; /* Space below the heading */
    color: #333;
    font-size: 1.5em; /* Adjust font size for better visibility */
}

.video-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

iframe {
    width: 100%;
    height: 180px; /* Fixed height for videos */
    border: none;
}
