body {
    font-family: 'Pacifico', cursive;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px; /* Added margin for better spacing on small screens */
    width: 90%; /* Adjust width to fit smaller screens */
    max-width: 500px; /* Maximum width for larger screens */
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

.video-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

video {
    width: 100%;
    max-width: 320px; /* Smaller max-width for the videos */
    height: auto;
}
